#backgroundCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  #home {
    position: relative;
  }

.popout1 {
    position: relative;
    overflow: hidden;
    width: 30%;
    padding: 0;
    transition: transform 0.3s ease;
    background-color: black;
    box-shadow: -2px 0 5px #04C9C9;
    color: white;
    transform: translateX(100%);
    overflow-y:scroll
}

.popout1.open {
    transform: translateX(0);
}

.popout1.closed {
    width:0;
}

.popout2 {
    position: relative;
    overflow: hidden;
    width: 30%;
    padding: 0;
    transition: transform 0.3s ease;
    background-color: black;
    box-shadow: -2px 0 5px #04C9C9;
    color: white;
    transform: translateX(100%);
}

.popout2.open {
    transform: translateX(0);
}

.popout2.closed {
    width:0;
}

@media screen and (max-width: 600px) {
   #sequencer{
    overflow: scroll;
    width: 100%;
   }
   #instructions_button{
    visibility: hidden;
   }
   #about_button{
    visibility: hidden;
   }
}